.linechart {
    padding: 8px;
}
.linechart_path {
    stroke-width: 3;
    fill: none;
}

.linechart_axis {
    stroke: #bdc3c7;
}

.linechart_point {
    fill: #fff;
    stroke-width: 2;
}

.linechart_area {
    padding: 8px;
    fill: #39b54985;
    stroke: none;
    opacity: .4;
}

.linechart_label {
    fill: #39b54985;
    font-weight: 700;
}

.hoverLine {
    stroke: #39b549;
    stroke-width: 1;
}