.hover {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    padding: 15px;
    border-radius: 4px;
    background-color: #777777;
    color: white;
}

.hover .price {
    font-weight: 700;
}